
body {
    margin: 0px;
}

.container {
    margin: auto;
    width: 750px;
}

.header {
    height: 100px;
    background: #3E474F;
    padding: 15px 0% 5px 0%;
}

.blogTitle {
    color: #fff;
    font-size: 48px;
}

.blogTagline {
    color: #2cbb33;
    font-size: 24px;
}

.nav {
    float: right;
}

.nav a {
    position: relative;
    top: 8px;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.nav a:hover {
    color: #2cbb33;
}

.main {
    width: 550px;
    float: left;
}

.post h2 {
    color: #333;
    margin-bottom: 5px;
}

.postDate {
    color: #777;
    border-bottom: 3px double #ccc;
}

.sidebar {
    margin-top: 90px;
    width: 180px;
    float: right;
}

.sideTitle {
    display:block;
    border-bottom: 1px solid #222;
}

.sideTitle ul{
    list-style-position: inside;
    padding-left: none;
}
