
				a {
					text-decoration: none;
				}
				.homeList {
					display: table;
					margin: auto;
				}

                /* CSS DropDown Menu */
                /* hide default filter */
                #t01_filter { 
                    display: none;
                }
                div.dt-buttons {
                    float: left;
                }
                .tags{
                    opacity: 0;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                }
				.dropbutton {
                    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    width:100%;
                    height:100%;
                    border-style:none;
					background: #4CB6EA;
                }

                #title {
                    font-size: 20px;
                    color: #961F14;
				}

				.dropdown {
					margin: auto;
					margin-top: 10px;
                    width: 12%;
                    height: 35px;
                }

                .menu-content{
                    position: relative;
                    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    display: none;
                    background-color: #f9f9f9;
                    width: 100%;
                    border: 1px solid #ddd;
                    z-index: 1;
                }

                .menu-content a,
               .menu-content .dt-button {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                .menu-content a:hover {
                background-color: #4CB6EA;
                }

                .dropdown:hover .menu-content {
                display: block;
                }

                /* CSS Header, Footer, Body */
                #header{
                height: 100px;
                background-image: url(../img/banner.jpg);
                background-size: 100% 100%;
                background-color:#cce6ff;
                border: 2px solid white;
                }

                #header .dropdown {
                    float: right;
                    top: 32px;
					right: 2%;
					margin-top: 0px;
                    position: relative;
				}

                #footer{
                color:black;
                clear:both;
                text-align:center;
                padding:1px;
                }

                #footer img{
                margin: 0px 7px;
                }

                #footer small{
                font-size: 12;
                }


                body{
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                padding: 2px 20px;
                background-color: #D0EAFD;
                }

                #inner_frame{
                padding: 1% 2%;
                background-color: #fff;
                min-height: 800px;
                }

                /*b is the footer link */
                #b:link{
                text-decoration: none;
                color: black;
                }

                #b:visited{
                text-decoration: none;
                color: black;
                }

                #b:hover {
                text-decoration: underline;
                }

                #b:active {
                text-decoration:underline;
                }

                /* CSS Table */
                #t01{
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse:collapse;
                width: 100%;
                }

                #t01 td, #t01 th {
                border: 1px solid #ddd;
                text-align: left;
                padding: 8px;
                font-size:small;
                }

                #t01 tr:nth-child(even){
                background-color: #f2f2f2;
                }

                #t01 tr:hover {
                background-color:#ddd;
                }

                #t01 th {
                padding-top: 12px;
                padding-bottom: 12px;
                background-color: #fff;
                color: black;
                }

                tfoot input {
                width: 100%;
                padding: 3px;
                box-sizing: border-box;
                }

                tfoot{
                display: table-header-group;
                }

