
/* CSS Table */
#t01{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse:collapse;
width: 100%;
}

#t01 td, #t01 th {
border: 1px solid #ddd;
text-align: left;
padding: 8px;
font-size:small;
}

#t01 tr:nth-child(even){
background-color: #f2f2f2;
}

#t01 tr:hover {
background-color:#ddd;
}

#t01 th {
padding-top: 12px;
padding-bottom: 12px;
background-color: #fff;
color: black;
}

tfoot input {
width: 100%;
padding: 3px;
box-sizing: border-box;
}

tfoot{
display: table-header-group;
}

.filt_text {
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 0px;
}

/*Loading icon */
.loader{
position: relative;
left: 0px;
top: 0px;
width: 100%;
height:100%;
z-index: 3;
background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
background-size: 80px 80px;
}

#td:nth-child(11) {
    white-space: no-wrap;
}

table.dataTable thead .sorting {
    background: url("../img/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_asc {
    background: url("../img/sort_asc.png") no-repeat center right;
}
table.dataTable thead .sorting_desc {
    background: url("../img/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled {
    background: url("../img/sort_asc_disabled.png") no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled {
    background: url("../img/sort_desc_disabled.png") no-repeat center right;
}
